@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #93C5FD;
  height: 150px;
}
.title1{
  margin-left: -40px;
  font-size: x-large;
}
.btn-nav{
  border-radius: 4px;
  background-color: aliceblue;
  font-size: large;
  width: 50px;
}

.hero-image {
  background-image: url('../public/images/hero-header.jpeg');
}
.nav3{
  font-size: x-large;
  font-weight: 500;
}

.teachDetails {
  margin-left: 3%;
}